In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [9]:
##import worksheets

project_data = pd.read_excel('../data/TEIS-NSS Project Data 10-2022.xlsx', 
                             sheet_name=['ECO with Exit21-22', 'Elig Timeline Rpt 2018-2022'])

eco_exit = project_data.get('ECO with Exit21-22')
elig_timeline = project_data.get('Elig Timeline Rpt 2018-2022')

In [14]:
eco_exit = eco_exit[['DISTRICT', 'CHILD_ID', 'ECO_Entry_DATE', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'ECO_Exit_DATE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE']]
eco_exit

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8631,UC,514216.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8632,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8633,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8634,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8635,9/29/22 JM Corrected in TEIDS. Progress would ...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [17]:
##renamen columns
eco_exit = eco_exit.rename(columns={'DISTRICT':'district',
                                    'CHILD_ID':'child_id',
                                    'ECO_Entry_DATE':'eco_entry_date',
                                    'Ent SOCIAL_SCALE':'ent_social',
                                    'Ent KNOWLEDGE_SCALE':'ent_knowledge',
                                    'Ent APPROPRIATE_ACTION_SCALE':'ent_approp_action',
                                    'ECO_Exit_DATE':'eco_exit_date',
                                    'Exit SOCIAL_SCALE':'exit_social',
                                    'Exit KNOWLEDGE_SCALE':'exit_knowledge',
                                    'Exit APPROPRIATE_ACTION_SCALE':'exit_approp_action'})

In [18]:
##drop NaN
eco_exit = eco_exit.dropna(axis=0)
eco_exit

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...
8624,UC,490337.0,2020-11-09,3.0,1.0,1.0,2021-05-12,3.0,3.0,1.0
8626,UC,483729.0,2020-08-25,1.0,3.0,2.0,2021-08-12,6.0,6.0,6.0
8627,UC,485978.0,2020-08-19,1.0,3.0,5.0,2021-02-11,5.0,7.0,7.0
8628,UC,488802.0,2020-09-21,4.0,4.0,3.0,2021-09-09,6.0,7.0,7.0
8630,UC,490688.0,2020-10-27,4.0,5.0,7.0,2021-10-13,7.0,7.0,7.0

In [19]:
eco_exit_1 = eco_exit[eco_exit['ent_social'] == 1.0]
eco_exit_1 = eco_exit[eco_exit['ent_knowledge'] == 1.0]
eco_exit_1 = eco_exit[eco_exit['ent_approp_action'] == 1.0]
eco_exit_1

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action
15,ET,473712.0,2020-05-20,1.0,5.0,1.0,2021-12-10,7.0,7.0,7.0
50,ET,449508.0,2018-12-18,1.0,3.0,1.0,2021-05-05,2.0,2.0,1.0
62,ET,445787.0,2018-11-02,2.0,5.0,1.0,2021-02-25,7.0,7.0,7.0
67,ET,459388.0,2019-04-26,1.0,4.0,1.0,2021-09-23,1.0,1.0,1.0
70,ET,473128.0,2020-06-18,1.0,2.0,1.0,2021-06-15,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...
8555,UC,471339.0,2019-12-16,1.0,3.0,1.0,2020-12-04,1.0,3.0,1.0
8567,UC,462401.0,2019-06-13,1.0,1.0,1.0,2021-06-01,1.0,2.0,3.0
8607,UC,472442.0,2019-12-04,2.0,1.0,1.0,2021-07-28,6.0,6.0,7.0
8611,UC,469594.0,2019-10-16,1.0,4.0,1.0,2021-09-08,3.0,1.0,1.0
8624,UC,490337.0,2020-11-09,3.0,1.0,1.0,2021-05-12,3.0,3.0,1.0