In [80]:
import pandas as pd

In [81]:
import matplotlib.pyplot as plt

In [82]:
import seaborn as sns

In [83]:
didd_df = pd.read_excel("../data/project_data.xlsx", sheet_name=['ECO with Exit21-22'])

In [84]:
eco_exit = didd_df.get('ECO with Exit21-22')

In [85]:
eco_exit.head(5)

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [86]:
df_social_mean = eco_exit[['Ent SOCIAL_SCALE']].mean()

In [87]:
eco_exit = eco_exit.rename(columns={'Days btw I-ISFP to Exit ECO': 'ifsp_to_exit'})

In [88]:
print(df_social_mean)

Ent SOCIAL_SCALE    3.283167
dtype: float64

In [89]:
eco_exit.head(5)

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [90]:
df_know_mean = eco_exit[['Ent KNOWLEDGE_SCALE']].mean()

In [91]:
print(df_know_mean)

Ent KNOWLEDGE_SCALE    3.609684
dtype: float64

In [92]:
df_action_mean = eco_exit[['Ent APPROPRIATE_ACTION_SCALE']].mean()

In [93]:
print(df_action_mean)

Ent APPROPRIATE_ACTION_SCALE    4.022723
dtype: float64

In [94]:
eco_exit = eco_exit.rename(columns={'DISTRICT':'district',
                                    'CHILD_ID':'child_id',
                                    'ECO_Entry_DATE':'eco_entry_date',
                                    'Ent SOCIAL_SCALE':'ent_social',
                                    'Ent KNOWLEDGE_SCALE':'ent_knowledge',
                                    'Ent APPROPRIATE_ACTION_SCALE':'ent_approp_action',
                                    'ECO_Exit_DATE':'eco_exit_date',
                                    'Exit SOCIAL_SCALE':'exit_social',
                                    'Exit KNOWLEDGE_SCALE':'exit_knowledge',
                                    'Exit APPROPRIATE_ACTION_SCALE':'exit_approp_action',
                                    'Days btw I-ISFP to Exit ECO': 'ifsp_to_exit'})

In [95]:
eco_exit.head(20)

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,288.0,175.0,0.0
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,444.0,348.0,90.0
7,ET,494502.0,2021-03-01,6.0,4.0,5.0,2021-10-15,7.0,5.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,277.0,228.0,0.0
8,ET,488351.0,2020-09-15,5.0,5.0,7.0,2021-02-25,6.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,343.0,163.0,0.0
9,ET,489949.0,2020-10-20,2.0,1.0,2.0,2021-09-30,1.0,4.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,533.0,345.0,0.0
10,ET,507713.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,188.0,-44469.0,-44469.0
11,ET,473375.0,2020-01-08,3.0,5.0,3.0,2022-03-29,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,836.0,834.0,23.0
12,ET,493457.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,219.0,-44181.0,-44181.0
13,ET,473208.0,2021-01-31,3.0,4.0,6.0,2021-12-15,5.0,1.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,493.0,350.0,32.0
14,ET,511154.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,130.0,-44473.0,-44473.0
15,ET,473712.0,2020-05-20,1.0,5.0,1.0,2021-12-10,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,680.0,569.0,0.0
16,ET,491757.0,2021-09-23,6.0,3.0,6.0,2022-02-04,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,234.0,183.0,49.0
17,ET,500498.0,2021-04-16,2.0,1.0,2.0,2021-10-14,2.0,1.0,2.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,183.0,181.0,0.0
18,ET,500796.0,2021-04-21,7.0,5.0,7.0,2021-09-20,7.0,7.0,7.0,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,152.0,152.0,0.0
19,ET,480351.0,2020-04-30,2.0,3.0,5.0,2021-04-15,5.0,2.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,455.0,350.0,0.0

In [96]:
exit7ss = eco_exit[eco_exit['exit_social'] == 7]
#to get all info for kiddos with exit ss of 7

In [97]:
print(exit7ss)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
6          ET  449725.0     2020-08-06         4.0            5.0
7          ET  494502.0     2021-03-01         6.0            4.0
11         ET  473375.0     2020-01-08         3.0            5.0
15         ET  473712.0     2020-05-20         1.0            5.0
...       ...       ...            ...         ...            ...
8618       UC  504343.0     2021-06-23         4.0            5.0
8620       UC  490278.0     2021-06-04         6.0            5.0
8621       UC  496165.0     2021-02-17         3.0            6.0
8623       UC  456154.0     2019-03-14         4.0            5.0
8630       UC  490688.0     2020-10-27         4.0            5.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
6                   7.0    2021-04-21          7.0             7.0
7                   5.0    2021-10-15          7.0             5.0
11                  3.0    2022-03-29          7.0             7.0
15                  1.0    2021-12-10          7.0             7.0
...                 ...           ...          ...             ...
8618                6.0    2022-06-22          7.0             7.0
8620                6.0    2021-12-10          7.0             6.0
8621                6.0    2022-02-10          7.0             7.0
8623                2.0    2021-03-03          7.0             6.0
8630                7.0    2021-10-13          7.0             7.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
6                    7.0  ...            1.0     NaN     NaN     NaN     NaN
7                    6.0  ...            1.0     NaN     NaN     NaN     1.0
11                   7.0  ...            1.0     NaN     NaN     NaN     1.0
15                   7.0  ...            1.0     NaN     NaN     NaN     1.0
...                  ...  ...            ...     ...     ...     ...     ...
8618                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8620                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8621                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8623                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8630                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
6        1.0            1.0                      444.0
7        NaN            1.0                      277.0
11       NaN            1.0                      836.0
15       NaN            1.0                      680.0
...      ...            ...                        ...
8618     1.0            1.0                      364.0
8620     1.0            1.0                      331.0
8621     1.0            1.0                      434.0
8623     NaN            1.0                      912.0
8630     1.0            1.0                      495.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
6                           348.0                          90.0
7                           228.0                           0.0
11                          834.0                          23.0
15                          569.0                           0.0
...                           ...                           ...
8618                        364.0                           0.0
8620                        199.0                          10.0
8621                        358.0                           0.0
8623                        720.0                           0.0
8630                        351.0                           0.0

[1847 rows x 60 columns]

In [98]:
#to get the information for kiddos who have exit knowledge score of 7
exit7ks = eco_exit[eco_exit['exit_knowledge'] == 7]

In [99]:
print(exit7ks)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
6          ET  449725.0     2020-08-06         4.0            5.0
11         ET  473375.0     2020-01-08         3.0            5.0
15         ET  473712.0     2020-05-20         1.0            5.0
16         ET  491757.0     2021-09-23         6.0            3.0
...       ...       ...            ...         ...            ...
8618       UC  504343.0     2021-06-23         4.0            5.0
8621       UC  496165.0     2021-02-17         3.0            6.0
8627       UC  485978.0     2020-08-19         1.0            3.0
8628       UC  488802.0     2020-09-21         4.0            4.0
8630       UC  490688.0     2020-10-27         4.0            5.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
6                   7.0    2021-04-21          7.0             7.0
11                  3.0    2022-03-29          7.0             7.0
15                  1.0    2021-12-10          7.0             7.0
16                  6.0    2022-02-04          7.0             7.0
...                 ...           ...          ...             ...
8618                6.0    2022-06-22          7.0             7.0
8621                6.0    2022-02-10          7.0             7.0
8627                5.0    2021-02-11          5.0             7.0
8628                3.0    2021-09-09          6.0             7.0
8630                7.0    2021-10-13          7.0             7.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
6                    7.0  ...            1.0     NaN     NaN     NaN     NaN
11                   7.0  ...            1.0     NaN     NaN     NaN     1.0
15                   7.0  ...            1.0     NaN     NaN     NaN     1.0
16                   7.0  ...            1.0     NaN     NaN     NaN     NaN
...                  ...  ...            ...     ...     ...     ...     ...
8618                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8621                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8627                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8628                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8630                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
6        1.0            1.0                      444.0
11       NaN            1.0                      836.0
15       NaN            1.0                      680.0
16       1.0            1.0                      234.0
...      ...            ...                        ...
8618     1.0            1.0                      364.0
8621     1.0            1.0                      434.0
8627     NaN            1.0                      361.0
8628     NaN            1.0                      353.0
8630     1.0            1.0                      495.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
6                           348.0                          90.0
11                          834.0                          23.0
15                          569.0                           0.0
16                          183.0                          49.0
...                           ...                           ...
8618                        364.0                           0.0
8621                        358.0                           0.0
8627                        176.0                           0.0
8628                        353.0                           0.0
8630                        351.0                           0.0

[1329 rows x 60 columns]

In [100]:
#To get the info for kiddos with exit action scores of 7
exit7aa = eco_exit[eco_exit['exit_approp_action'] == 7]

In [101]:
print(exit7aa)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
5          ET  494216.0     2021-01-06         2.0            4.0
6          ET  449725.0     2020-08-06         4.0            5.0
8          ET  488351.0     2020-09-15         5.0            5.0
11         ET  473375.0     2020-01-08         3.0            5.0
...       ...       ...            ...         ...            ...
8621       UC  496165.0     2021-02-17         3.0            6.0
8623       UC  456154.0     2019-03-14         4.0            5.0
8627       UC  485978.0     2020-08-19         1.0            3.0
8628       UC  488802.0     2020-09-21         4.0            4.0
8630       UC  490688.0     2020-10-27         4.0            5.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
5                   6.0    2021-06-30          4.0             5.0
6                   7.0    2021-04-21          7.0             7.0
8                   7.0    2021-02-25          6.0             5.0
11                  3.0    2022-03-29          7.0             7.0
...                 ...           ...          ...             ...
8621                6.0    2022-02-10          7.0             7.0
8623                2.0    2021-03-03          7.0             6.0
8627                5.0    2021-02-11          5.0             7.0
8628                3.0    2021-09-09          6.0             7.0
8630                7.0    2021-10-13          7.0             7.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
5                    7.0  ...            1.0     NaN     NaN     NaN     NaN
6                    7.0  ...            1.0     NaN     NaN     NaN     NaN
8                    7.0  ...            1.0     NaN     NaN     NaN     NaN
11                   7.0  ...            1.0     NaN     NaN     NaN     1.0
...                  ...  ...            ...     ...     ...     ...     ...
8621                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8623                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8627                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8628                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8630                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
5        1.0            1.0                      288.0
6        1.0            1.0                      444.0
8        1.0            1.0                      343.0
11       NaN            1.0                      836.0
...      ...            ...                        ...
8621     1.0            1.0                      434.0
8623     NaN            1.0                      912.0
8627     NaN            1.0                      361.0
8628     NaN            1.0                      353.0
8630     1.0            1.0                      495.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
5                           175.0                           0.0
6                           348.0                          90.0
8                           163.0                           0.0
11                          834.0                          23.0
...                           ...                           ...
8621                        358.0                           0.0
8623                        720.0                           0.0
8627                        176.0                           0.0
8628                        353.0                           0.0
8630                        351.0                           0.0

[2612 rows x 60 columns]

In [102]:
# info for the kiddos whose  social entrance scores were 7
ent7ss = eco_exit[eco_exit['ent_social'] == 7]

In [103]:
print(ent7ss)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
18         ET  500796.0     2021-04-21         7.0            5.0
23         ET  508579.0     2021-09-08         7.0            5.0
29         ET  470111.0     2020-07-30         7.0            5.0
42         ET  491969.0     2020-12-04         7.0            7.0
...       ...       ...            ...         ...            ...
8538       UC  493814.0     2021-01-11         7.0            5.0
8558       UC  466335.0     2020-03-05         7.0            6.0
8559       UC  487885.0     2020-09-03         7.0            7.0
8578       UC  490815.0     2020-11-13         7.0            4.0
8581       UC  506605.0     2021-08-04         7.0            6.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
18                  7.0    2021-09-20          7.0             7.0
23                  6.0    2022-03-01          6.0             4.0
29                  6.0    2021-07-12          7.0             7.0
42                  7.0    2021-06-02          7.0             7.0
...                 ...           ...          ...             ...
8538                7.0    2021-07-08          6.0             5.0
8558                5.0    2022-01-13          7.0             7.0
8559                7.0    2021-02-10          7.0             7.0
8578                6.0    2021-06-01          6.0             4.0
8581                7.0    2022-01-19          7.0             5.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
18                   7.0  ...            0.0     NaN     NaN     NaN     NaN
23                   6.0  ...            0.0     NaN     NaN     NaN     NaN
29                   7.0  ...            1.0     NaN     NaN     NaN     NaN
42                   7.0  ...            1.0     NaN     NaN     NaN     NaN
...                  ...  ...            ...     ...     ...     ...     ...
8538                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8558                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8559                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8578                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8581                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
18       NaN            0.0                      152.0
23       NaN            0.0                      181.0
29       1.0            1.0                      528.0
42       1.0            1.0                      212.0
...      ...            ...                        ...
8538     1.0            1.0                      298.0
8558     NaN            1.0                      796.0
8559     1.0            1.0                      340.0
8578     1.0            1.0                      281.0
8581     1.0            1.0                      322.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
18                          152.0                           0.0
23                          174.0                           0.0
29                          347.0                           0.0
42                          180.0                           0.0
...                           ...                           ...
8538                        178.0                           0.0
8558                        679.0                           0.0
8559                        160.0                           0.0
8578                        200.0                           0.0
8581                        168.0                           0.0

[543 rows x 60 columns]

In [104]:
# To get info about kiddos whose entrance knowledge score was 7 
ent7ks = eco_exit[eco_exit['ent_knowledge'] == 7]

In [105]:
print(ent7ks)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
42         ET  491969.0     2020-12-04         7.0            7.0
45         ET  496238.0     2021-02-03         7.0            7.0
97         ET  454146.0     2020-08-17         7.0            7.0
113        ET  502681.0     2021-06-04         7.0            7.0
...       ...       ...            ...         ...            ...
8559       UC  487885.0     2020-09-03         7.0            7.0
8561       UC  500063.0     2021-03-30         6.0            7.0
8568       UC  449384.0     2020-02-26         5.0            7.0
8570       UC  480169.0     2020-06-30         6.0            7.0
8579       UC  456867.0     2019-04-26         2.0            7.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
42                  7.0    2021-06-02          7.0             7.0
45                  7.0    2021-07-28          7.0             7.0
97                  7.0    2021-02-08          7.0             7.0
113                 7.0    2021-12-01          7.0             7.0
...                 ...           ...          ...             ...
8559                7.0    2021-02-10          7.0             7.0
8561                7.0    2021-09-02          6.0             7.0
8568                7.0    2021-08-02          7.0             5.0
8570                5.0    2022-02-09          7.0             7.0
8579                7.0    2021-10-28          7.0             7.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
42                   7.0  ...            1.0     NaN     NaN     NaN     NaN
45                   6.0  ...            1.0     NaN     NaN     NaN     NaN
97                   7.0  ...            1.0     NaN     NaN     NaN     NaN
113                  7.0  ...            1.0     NaN     NaN     NaN     NaN
...                  ...  ...            ...     ...     ...     ...     ...
8559                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8561                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8568                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8570                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8579                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
42       1.0            1.0                      212.0
45       1.0            1.0                      295.0
97       1.0            1.0                      337.0
113      1.0            1.0                      224.0
...      ...            ...                        ...
8559     1.0            1.0                      340.0
8561     1.0            1.0                      352.0
8568     1.0            1.0                      606.0
8570     NaN            1.0                      616.0
8579     1.0            1.0                      982.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
42                          180.0                           0.0
45                          175.0                           0.0
97                          175.0                           0.0
113                         180.0                           0.0
...                           ...                           ...
8559                        160.0                           0.0
8561                        156.0                           0.0
8568                        523.0                           0.0
8570                        589.0                           0.0
8579                        916.0                           0.0

[264 rows x 60 columns]

In [106]:
# to get info about kiddos whose entrance action scores were 7
ent7aa = eco_exit[eco_exit['ent_approp_action'] == 7]

In [107]:
print(ent7aa)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
6          ET  449725.0     2020-08-06         4.0            5.0
8          ET  488351.0     2020-09-15         5.0            5.0
18         ET  500796.0     2021-04-21         7.0            5.0
25         ET  498067.0     2021-04-16         6.0            3.0
...       ...       ...            ...         ...            ...
8590       UC  479964.0     2020-10-15         6.0            4.0
8593       UC  492311.0     2020-12-07         4.0            6.0
8606       UC  498301.0     2021-04-06         3.0            4.0
8613       UC  486707.0     2020-08-20         6.0            3.0
8630       UC  490688.0     2020-10-27         4.0            5.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
6                   7.0    2021-04-21          7.0             7.0
8                   7.0    2021-02-25          6.0             5.0
18                  7.0    2021-09-20          7.0             7.0
25                  7.0    2021-09-24          7.0             5.0
...                 ...           ...          ...             ...
8590                7.0    2021-04-12          7.0             7.0
8593                7.0    2022-05-03          7.0             7.0
8606                7.0    2022-04-05          7.0             7.0
8613                7.0    2021-08-06          7.0             3.0
8630                7.0    2021-10-13          7.0             7.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
6                    7.0  ...            1.0     NaN     NaN     NaN     NaN
8                    7.0  ...            1.0     NaN     NaN     NaN     NaN
18                   7.0  ...            0.0     NaN     NaN     NaN     NaN
25                   7.0  ...            1.0     NaN     NaN     NaN     NaN
...                  ...  ...            ...     ...     ...     ...     ...
8590                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8593                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8606                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8613                 6.0  ...            1.0     NaN     NaN     NaN     NaN
8630                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
6        1.0            1.0                      444.0
8        1.0            1.0                      343.0
18       NaN            0.0                      152.0
25       1.0            1.0                      328.0
...      ...            ...                        ...
8590     1.0            1.0                      319.0
8593     1.0            1.0                      549.0
8606     1.0            1.0                      443.0
8613     1.0            1.0                      382.0
8630     1.0            1.0                      495.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
6                           348.0                          90.0
8                           163.0                           0.0
18                          152.0                           0.0
25                          186.0                          25.0
...                           ...                           ...
8590                        179.0                           0.0
8593                        512.0                           0.0
8606                        364.0                           0.0
8613                        351.0                           0.0
8630                        351.0                           0.0

[1122 rows x 60 columns]

In [108]:
#no changes in scores
nochangess = eco_exit[(eco_exit['ent_social'] == 7) & (eco_exit['exit_social'] == 7)]
nochangesk = eco_exit[(eco_exit['ent_knowledge'] == 7) & (eco_exit['exit_knowledge'] == 7)]
nochangesa = eco_exit[(eco_exit['ent_approp_action'] == 7) & (eco_exit['exit_approp_action'] == 7)]

In [109]:
print(nochangess)

     district  child_id eco_entry_date  ent_social  ent_knowledge  \
1          ET  479453.0     2020-03-23         7.0            7.0
18         ET  500796.0     2021-04-21         7.0            5.0
29         ET  470111.0     2020-07-30         7.0            5.0
42         ET  491969.0     2020-12-04         7.0            7.0
43         ET  491218.0     2020-11-18         7.0            4.0
...       ...       ...            ...         ...            ...
8508       UC  506551.0     2021-11-12         7.0            7.0
8510       UC  492392.0     2020-11-23         7.0            5.0
8558       UC  466335.0     2020-03-05         7.0            6.0
8559       UC  487885.0     2020-09-03         7.0            7.0
8581       UC  506605.0     2021-08-04         7.0            6.0

      ent_approp_action eco_exit_date  exit_social  exit_knowledge  \
1                   7.0    2021-08-19          7.0             7.0
18                  7.0    2021-09-20          7.0             7.0
29                  6.0    2021-07-12          7.0             7.0
42                  7.0    2021-06-02          7.0             7.0
43                  7.0    2021-05-03          7.0             7.0
...                 ...           ...          ...             ...
8508                7.0    2022-02-23          7.0             7.0
8510                7.0    2021-11-12          7.0             7.0
8558                5.0    2022-01-13          7.0             7.0
8559                7.0    2021-02-10          7.0             7.0
8581                7.0    2022-01-19          7.0             5.0

      exit_approp_action  ... OC2 Data Check OC3 - a OC3 - b OC3 - c OC3 - d  \
1                    7.0  ...            1.0     NaN     NaN     NaN     NaN
18                   7.0  ...            0.0     NaN     NaN     NaN     NaN
29                   7.0  ...            1.0     NaN     NaN     NaN     NaN
42                   7.0  ...            1.0     NaN     NaN     NaN     NaN
43                   7.0  ...            1.0     NaN     NaN     NaN     NaN
...                  ...  ...            ...     ...     ...     ...     ...
8508                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8510                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8558                 7.0  ...            1.0     NaN     NaN     NaN     1.0
8559                 7.0  ...            1.0     NaN     NaN     NaN     NaN
8581                 7.0  ...            1.0     NaN     NaN     NaN     NaN

     OC3 - e OC3 Data Check  Days btw Initial and Exit  \
1        1.0            1.0                      704.0
18       NaN            0.0                      152.0
29       1.0            1.0                      528.0
42       1.0            1.0                      212.0
43       1.0            1.0                      285.0
...      ...            ...                        ...
8508     1.0            1.0                      319.0
8510     1.0            1.0                      436.0
8558     NaN            1.0                      796.0
8559     1.0            1.0                      340.0
8581     1.0            1.0                      322.0

      Days btw I-IFSP to Exit ECO  Days btw I-IFSP to entry ECO
1                           514.0                           0.0
18                          152.0                           0.0
29                          347.0                           0.0
42                          180.0                           0.0
43                          166.0                           0.0
...                           ...                           ...
8508                        203.0                         100.0
8510                        354.0                           0.0
8558                        679.0                           0.0
8559                        160.0                           0.0
8581                        168.0                           0.0

[480 rows x 60 columns]

In [110]:
# To get decreases in scores
decreases = eco_exit[(eco_exit['ent_social'] == 7) & (eco_exit['exit_social'] < 7)]
decreasek = eco_exit[(eco_exit['ent_knowledge'] == 7) & (eco_exit['exit_knowledge'] < 7)]
decreasea = eco_exit[(eco_exit['ent_approp_action'] == 7) & (eco_exit['exit_approp_action'] < 7)]

In [111]:
#print percentages for no changes
print(nochangess['ent_social'].count()/ent7ss['ent_social'].count() *100)
print(nochangesk['ent_knowledge'].count()/ent7ks['ent_knowledge'].count() *100)
print(nochangesa['ent_approp_action'].count()/ent7aa['ent_approp_action'].count() *100)

88.39779005524862
85.22727272727273
85.29411764705883

In [112]:
#print percentages for decreases in scores
print(decreases['ent_social'].count()/ent7ss['ent_social'].count() *100)
print(decreasek['ent_knowledge'].count()/ent7ks['ent_knowledge'].count() *100)
print(decreasea['ent_approp_action'].count()/ent7aa['ent_approp_action'].count() *100)

11.602209944751381
14.772727272727273
14.705882352941178

In [113]:
service_days = eco_exit('Days btw I-IFSP to Exit ECO') & (eco_exit['ent_social'] == 7)

TypeError: 'DataFrame' object is not callable

In [114]:
eco_exit = eco_exit.rename(columns={'OC3 Data Check': 'data_check',
                                   'Days btw I-IFSP to Exit ECO': 'days_in_prog'})

In [115]:
eco_exit.head(5)

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,data_check,Days btw Initial and Exit,days_in_prog,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [116]:
service_days = eco_exit('Days btw I-IFSP to Exit ECO') & (eco_exit['ent_social'] == 7)

TypeError: 'DataFrame' object is not callable

In [121]:
decreases['days_in_prog'].median()

KeyError: 'days_in_prog'

In [120]:
eco_exit.head(5)

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,data_check,Days btw Initial and Exit,days_in_prog,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [123]:
service_days = eco_exit('days_in_prog') & (eco_exit['ent_social'] == 7)

TypeError: 'DataFrame' object is not callable

In [125]:
decreases['Days btw I-IFSP to Exit ECO'].median()

200.0

In [126]:
decreasek['Days btw I-IFSP to Exit ECO'].median()

350.0

In [127]:
decreasea['Days btw I-IFSP to Exit ECO'].median()

349.0

In [129]:
nochangess['Days btw I-IFSP to Exit ECO'].median()

187.5

In [133]:
nochangesk['Days btw I-IFSP to Exit ECO'].median()

186.0

In [134]:
nochangesa['Days btw I-IFSP to Exit ECO'].median()

250.0