In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [3]:
didd_df = pd.read_excel("../data/project_data.xlsx", sheet_name=['ECO with Exit21-22', 'Elig Timeline Rpt 2018-2022'])

In [4]:
eco_df = didd_df.get('ECO with Exit21-22')
elig_timeline = didd_df.get('Elig Timeline Rpt 2018-2022')

In [6]:
#print(eco_df)

In [7]:
eco_df.head(10)

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,288.0,175.0,0.0
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,444.0,348.0,90.0
7,ET,494502.0,2021-03-01,6.0,4.0,5.0,2021-10-15,7.0,5.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,277.0,228.0,0.0
8,ET,488351.0,2020-09-15,5.0,5.0,7.0,2021-02-25,6.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,343.0,163.0,0.0
9,ET,489949.0,2020-10-20,2.0,1.0,2.0,2021-09-30,1.0,4.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,533.0,345.0,0.0

In [9]:
eco_df = eco_df[['DISTRICT', 'CHILD_ID', 'ECO_Entry_DATE', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'ECO_Exit_DATE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE', 'Days btw I-IFSP to Exit ECO']]

In [10]:
eco_df = eco_df.rename(columns={'DISTRICT':'district',
                                    'CHILD_ID':'child_id',
                                    'ECO_Entry_DATE':'eco_entry_date',
                                    'Ent SOCIAL_SCALE':'ent_social',
                                    'Ent KNOWLEDGE_SCALE':'ent_knowledge',
                                    'Ent APPROPRIATE_ACTION_SCALE':'ent_approp_action',
                                    'ECO_Exit_DATE':'eco_exit_date',
                                    'Exit SOCIAL_SCALE':'exit_social',
                                    'Exit KNOWLEDGE_SCALE':'exit_knowledge',
                                    'Exit APPROPRIATE_ACTION_SCALE':'exit_approp_action',
                                    'Days btw I-IFSP to Exit ECO':'days_in_program'})

### columns that equal 4

In [19]:
ent_social_4 = eco_df[eco_df['ent_social'] == 4.0]
ent_knowledge_4 = eco_df[eco_df['ent_knowledge'] == 4.0]
ent_approp_action_4 = eco_df[eco_df['ent_approp_action'] == 4.0]

exit_social_4 = eco_df[eco_df['exit_social'] == 4.0]
exit_knowledge_4 = eco_df[eco_df['ent_knowledge'] == 4.0]
exit_approp_action_4 = eco_df[eco_df['exit_approp_action'] == 4.0]

no_change_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 4)]
no_change_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 4)]
no_change_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 4)]

increase_social = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] > 4 )]
increase_knowledge = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] > 4 )]
increase_approp_action = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] > 4 )]

decrease_social = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] < 4 )]
decrease_knowledge = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] < 4 )]
decrease_approp_action = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] < 4 )]

### Finding rows that have an overall average of 4 from each entry column, then exit column

In [22]:
eco_df['overall_ent_average'] = eco_df[['ent_social', 'ent_knowledge', 'ent_approp_action']].mean(axis=1)
ent_avg_4 = eco_df[eco_df['overall_ent_average'] == 4.0]

In [23]:
eco_df['overall_exit_average'] = eco_df[['exit_social', 'exit_knowledge', 'exit_approp_action']].mean(axis=1)
exit_avg_4 = eco_df[eco_df['overall_exit_average'] == 4.0]

### Average days in program for rows with overall average of 4 from entry, then exit columns

In [25]:
ent_days_total_4 = ent_avg_4['days_in_program'].mean() 
exit_days_total_4 = exit_avg_4['days_in_program'].mean()

###### Kevin created the code for finding percentages

### Percentage of children with no change in score

In [31]:
print(no_change_social_4['ent_social'].count()/ent_social_4['ent_social'].count() *100)
print(no_change_knowledge_4['ent_knowledge'].count()/ent_knowledge_4['ent_knowledge'].count() *100)
print(no_change_approp_4['ent_approp_action'].count()/ent_approp_action_4['ent_approp_action'].count() *100)

14.339622641509434
18.231441048034934
22.284434490481523

### Percentage of children with an increase in score

In [33]:
print(increase_social['ent_social'].count()/ent_social_4['ent_social'].count() *100)
print(increase_knowledge['ent_knowledge'].count()/ent_knowledge_4['ent_knowledge'].count() *100)
print(increase_approp_action['ent_approp_action'].count()/ent_approp_action_4['ent_approp_action'].count() *100)

74.90566037735849
51.52838427947598
60.806270996640535

### Percentage of children with a decrease in score

In [34]:
print(decrease_social['ent_social'].count()/ent_social_4['ent_social'].count() *100)
print(decrease_knowledge['ent_knowledge'].count()/ent_knowledge_4['ent_knowledge'].count() *100)
print(decrease_approp_action['ent_approp_action'].count()/ent_approp_action_4['ent_approp_action'].count() *100)

10.754716981132075
30.240174672489083
16.90929451287794

### Average days in program with scores of 4 in entry, then exit columns

In [38]:
print(ent_social_4['days_in_program'].mean())
print(ent_knowledge_4['days_in_program'].mean())
print(ent_approp_action_4['days_in_program'].mean())

print(exit_social_4['days_in_program'].mean())
print(exit_knowledge_4['days_in_program'].mean())
print(exit_approp_action_4['days_in_program'].mean())

350.85283018867926
392.38318777292574
346.3538633818589
349.6294642857143
392.38318777292574
350.2584933530281

### Children that had scores go from 4 to 1

In [41]:
social_to_1 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 1 )]
knowledge_to_1 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 1 )]
approp_to_1 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 1 )]

### Children that had scores go from 4 to 2

In [42]:
social_to_2 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 2 )]
knowledge_to_2 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 2 )]
approp_to_2 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 2 )]

### Children that had scores go from 4 to 3

In [43]:
social_to_3 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 3 )]
knowledge_to_3 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 3 )]
approp_to_3 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 3 )]

### Children that had scores go from 4 to 5

In [44]:
social_to_5 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 5 )]
knowledge_to_5 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 5 )]
approp_to_5 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 5 )]

### Children that had scores go from 4 to 6

In [45]:
social_to_6 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 6 )]
knowledge_to_6 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 6 )]
approp_to_6 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 6 )]

### Children that had scores go from 4 to 7

In [46]:
social_to_7 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['exit_social'] == 7 )]
knowledge_to_7 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['exit_knowledge'] == 7 )]
approp_to_7 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['exit_approp_action'] == 7 )]

### Children with score of 4 by district

##### ET = East Tennessee

In [54]:
ET_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'ET')]
ET_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'ET')]
ET_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'ET')]

##### FT = First Tennessee

In [56]:
FT_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'FT')]
FT_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'FT')]
FT_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'FT')]

##### GN = Greater Nashville

In [57]:
GN_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'GN')]
GN_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'GN')]
GN_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'GN')]

##### MD = Memphis Delta

In [58]:
MD_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'MD')]
MD_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'MD')]
MD_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'MD')]

##### NW = Northwest

In [59]:
NW_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'NW')]
NW_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'NW')]
NW_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'NW')]

##### SC = South Central

In [60]:
SC_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'SC')]
SC_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'SC')]
SC_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'SC')]

##### SE = Southeast

In [61]:
SE_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'SE')]
SE_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'SE')]
SE_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'SE')]

##### SW = Southwest

In [62]:
SW_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'SW')]
SW_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'SW')]
SW_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'SW')]

##### UC = Upper Cumberland

In [63]:
UC_social_4 = eco_df[(eco_df['ent_social'] == 4) & (eco_df['district'] == 'UC')]
UC_knowledge_4 = eco_df[(eco_df['ent_knowledge'] == 4) & (eco_df['district'] == 'UC')]
UC_approp_4 = eco_df[(eco_df['ent_approp_action'] == 4) & (eco_df['district'] == 'UC')]

# Next, look at how to tie in visuals. Do you need to create a dataframe from the information in the above code? ie., seeing how many children increased and decreased or didn't change, putting that into a new dataframe and creating a chart. Same with percentages and district.