In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [23]:
didd_df = pd.read_excel("../data/project_data.xlsx", sheet_name=['ECO with Exit21-22', 'Elig Timeline Rpt 2018-2022'])

In [24]:
eco_exit = didd_df.get('ECO with Exit21-22')
elig_timeline = didd_df.get('Elig Timeline Rpt 2018-2022')

In [25]:
print(eco_exit)

                                               DISTRICT  CHILD_ID  \
0                                                    ET  500335.0
1                                                    ET  479453.0
2                                                    ET  510663.0
3                                                    ET  452482.0
4                                                    ET  506507.0
...                                                 ...       ...
8631                                                 UC  514216.0
8632                                                NaN       NaN
8633                                                NaN       NaN
8634                                                NaN       NaN
8635  9/29/22 JM Corrected in TEIDS. Progress would ...       NaN

     ECO_Entry_DATE  Ent SOCIAL_SCALE  Ent KNOWLEDGE_SCALE  \
0        2021-04-23               5.0                  3.0
1        2020-03-23               7.0                  7.0
2               NaT               NaN                  NaN
3        2019-01-31               2.0                  3.0
4               NaT               NaN                  NaN
...             ...               ...                  ...
8631            NaT               NaN                  NaN
8632            NaT               NaN                  NaN
8633            NaT               NaN                  NaN
8634            NaT               NaN                  NaN
8635            NaT               NaN                  NaN

      Ent APPROPRIATE_ACTION_SCALE ECO_Exit_DATE  Exit SOCIAL_SCALE  \
0                              4.0    2021-10-23                6.0
1                              7.0    2021-08-19                7.0
2                              NaN           NaT                NaN
3                              3.0    2021-11-22                5.0
4                              NaN           NaT                NaN
...                            ...           ...                ...
8631                           NaN           NaT                NaN
8632                           NaN           NaT                NaN
8633                           NaN           NaT                NaN
8634                           NaN           NaT                NaN
8635                           NaN           NaT                NaN

      Exit KNOWLEDGE_SCALE  Exit APPROPRIATE_ACTION_SCALE  ... OC2 Data Check  \
0                      3.0                            4.0  ...            1.0
1                      7.0                            7.0  ...            1.0
2                      NaN                            NaN  ...            0.0
3                      3.0                            5.0  ...            1.0
4                      NaN                            NaN  ...            0.0
...                    ...                            ...  ...            ...
8631                   NaN                            NaN  ...            0.0
8632                   NaN                            NaN  ...            NaN
8633                   NaN                            NaN  ...            NaN
8634                   NaN                            NaN  ...            NaN
8635                   NaN                            NaN  ...            NaN

     OC3 - a OC3 - b OC3 - c OC3 - d OC3 - e OC3 Data Check  \
0        NaN     1.0     NaN     NaN     NaN            1.0
1        NaN     NaN     NaN     NaN     1.0            1.0
2        NaN     NaN     NaN     NaN     NaN            0.0
3        NaN     NaN     1.0     NaN     NaN            1.0
4        NaN     NaN     NaN     NaN     NaN            0.0
...      ...     ...     ...     ...     ...            ...
8631     NaN     NaN     NaN     NaN     NaN            0.0
8632     NaN     NaN     NaN     NaN     NaN            NaN
8633     NaN     NaN     NaN     NaN     NaN            NaN
8634     NaN     NaN     NaN     NaN     NaN            NaN
8635     NaN     NaN     NaN     NaN     NaN            NaN

      Days btw Initial and Exit  Days btw I-IFSP to Exit ECO  \
0                         206.0                        183.0
1                         704.0                        514.0
2                         115.0                     -44483.0
3                        1053.0                       1026.0
4                         159.0                     -44434.0
...                         ...                          ...
8631                       65.0                     -44537.0
8632                        NaN                          NaN
8633                        NaN                          NaN
8634                        NaN                          NaN
8635                        NaN                          NaN

      Days btw I-IFSP to entry ECO
0                              0.0
1                              0.0
2                         -44483.0
3                              0.0
4                         -44434.0
...                            ...
8631                      -44537.0
8632                           NaN
8633                           NaN
8634                           NaN
8635                           NaN

[8636 rows x 60 columns]

In [26]:
eco_exit.head(10)

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,288.0,175.0,0.0
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,444.0,348.0,90.0
7,ET,494502.0,2021-03-01,6.0,4.0,5.0,2021-10-15,7.0,5.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,277.0,228.0,0.0
8,ET,488351.0,2020-09-15,5.0,5.0,7.0,2021-02-25,6.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,343.0,163.0,0.0
9,ET,489949.0,2020-10-20,2.0,1.0,2.0,2021-09-30,1.0,4.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,533.0,345.0,0.0

In [27]:
eco_exit = eco_exit[['DISTRICT', 'CHILD_ID', 'ECO_Entry_DATE', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'ECO_Exit_DATE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE', 'Days btw I-IFSP to Exit ECO']]

In [28]:
eco_exit

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,Days btw I-IFSP to Exit ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,183.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,514.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,1026.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44434.0
...,...,...,...,...,...,...,...,...,...,...,...
8631,UC,514216.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44537.0
8632,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8633,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8634,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8635,9/29/22 JM Corrected in TEIDS. Progress would ...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [32]:
eco_exit = eco_exit.rename(columns={'DISTRICT':'district',
                                    'CHILD_ID':'child_id',
                                    'ECO_Entry_DATE':'eco_entry_date',
                                    'Ent SOCIAL_SCALE':'ent_social',
                                    'Ent KNOWLEDGE_SCALE':'ent_knowledge',
                                    'Ent APPROPRIATE_ACTION_SCALE':'ent_approp_action',
                                    'ECO_Exit_DATE':'eco_exit_date',
                                    'Exit SOCIAL_SCALE':'exit_social',
                                    'Exit KNOWLEDGE_SCALE':'exit_knowledge',
                                    'Exit APPROPRIATE_ACTION_SCALE':'exit_approp_action',
                                    'Days btw I-IFSP to Exit ECO':'days_in_program'})

In [33]:
eco_exit

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,183.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,514.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,1026.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44434.0
...,...,...,...,...,...,...,...,...,...,...,...
8631,UC,514216.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44537.0
8632,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8633,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8634,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8635,9/29/22 JM Corrected in TEIDS. Progress would ...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

### Average of ent_social column

In [42]:
ent_social_4 = eco_exit[eco_exit['ent_social'] == 4.0]

In [43]:
ent_social_4

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,348.0
41,ET,480566.0,2020-05-13,4.0,5.0,7.0,2021-05-03,6.0,5.0,7.0,355.0
73,ET,488892.0,2020-09-29,4.0,3.0,6.0,2021-09-28,5.0,4.0,6.0,364.0
85,ET,486837.0,2020-11-04,4.0,3.0,5.0,2021-09-24,6.0,5.0,7.0,352.0
88,ET,492443.0,2021-01-06,4.0,3.0,6.0,2021-05-05,6.0,6.0,7.0,153.0
...,...,...,...,...,...,...,...,...,...,...,...
8610,UC,478079.0,2020-05-08,4.0,3.0,5.0,2021-04-09,6.0,3.0,7.0,353.0
8618,UC,504343.0,2021-06-23,4.0,5.0,6.0,2022-06-22,7.0,7.0,7.0,364.0
8623,UC,456154.0,2019-03-14,4.0,5.0,2.0,2021-03-03,7.0,6.0,7.0,720.0
8628,UC,488802.0,2020-09-21,4.0,4.0,3.0,2021-09-09,6.0,7.0,7.0,353.0
8630,UC,490688.0,2020-10-27,4.0,5.0,7.0,2021-10-13,7.0,7.0,7.0,351.0

In [44]:
ent_knowledge_4 = eco_exit[eco_exit['ent_knowledge'] == 4.0]

In [45]:
ent_knowledge_4

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,175.0
7,ET,494502.0,2021-03-01,6.0,4.0,5.0,2021-10-15,7.0,5.0,6.0,228.0
13,ET,473208.0,2021-01-31,3.0,4.0,6.0,2021-12-15,5.0,1.0,4.0,350.0
26,ET,488582.0,2020-12-03,5.0,4.0,7.0,2021-11-18,7.0,7.0,7.0,350.0
34,ET,469115.0,2019-10-14,2.0,4.0,7.0,2021-09-01,7.0,7.0,7.0,688.0
...,...,...,...,...,...,...,...,...,...,...,...
8591,UC,453156.0,2019-02-11,4.0,4.0,4.0,2021-12-08,6.0,6.0,7.0,1031.0
8606,UC,498301.0,2021-04-06,3.0,4.0,7.0,2022-04-05,7.0,7.0,7.0,364.0
8609,UC,474727.0,2020-11-04,1.0,4.0,4.0,2021-04-29,3.0,5.0,7.0,176.0
8611,UC,469594.0,2019-10-16,1.0,4.0,1.0,2021-09-08,3.0,1.0,1.0,693.0
8628,UC,488802.0,2020-09-21,4.0,4.0,3.0,2021-09-09,6.0,7.0,7.0,353.0

In [46]:
ent_approp_action_4 = eco_exit[eco_exit['ent_approp_action'] == 4.0]

In [47]:
ent_approp_action_4

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,183.0
51,ET,484314.0,2020-07-01,1.0,3.0,4.0,2021-11-22,3.0,3.0,5.0,509.0
52,ET,470629.0,2019-11-04,2.0,5.0,4.0,2021-10-20,7.0,6.0,7.0,716.0
54,ET,477970.0,2020-09-24,1.0,3.0,4.0,2021-08-24,2.0,3.0,5.0,526.0
56,ET,490882.0,2021-04-29,1.0,3.0,4.0,2021-10-07,1.0,2.0,4.0,161.0
...,...,...,...,...,...,...,...,...,...,...,...
8584,UC,471741.0,2019-11-07,3.0,3.0,4.0,2022-03-30,7.0,7.0,7.0,874.0
8585,UC,500268.0,2021-05-10,3.0,3.0,4.0,2021-10-25,5.0,5.0,5.0,168.0
8591,UC,453156.0,2019-02-11,4.0,4.0,4.0,2021-12-08,6.0,6.0,7.0,1031.0
8608,UC,484332.0,2020-07-22,3.0,2.0,4.0,2021-06-09,3.0,1.0,4.0,336.0
8609,UC,474727.0,2020-11-04,1.0,4.0,4.0,2021-04-29,3.0,5.0,7.0,176.0

In [48]:
eco_exit[['ent_social', 'ent_knowledge', 'ent_approp_action']].mean(axis=1)

0       4.000000
1       7.000000
2            NaN
3       2.666667
4            NaN
          ...
8631         NaN
8632         NaN
8633         NaN
8634         NaN
8635         NaN
Length: 8636, dtype: float64

In [51]:
eco_exit['overall_ent_average'] = eco_exit[['ent_social', 'ent_knowledge', 'ent_approp_action']].mean(axis=1)

In [52]:
eco_exit

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program,overall_ent_average
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,183.0,4.000000
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,514.0,7.000000
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44483.0,NaN
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,1026.0,2.666667
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44434.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8631,UC,514216.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44537.0,NaN
8632,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8633,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8634,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8635,9/29/22 JM Corrected in TEIDS. Progress would ...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [60]:
ent_avg_4 = eco_exit[eco_exit['overall_ent_average'] == 4.0]

In [61]:
ent_avg_4

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program,overall_ent_average,overall_exit_average
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,183.0,4.0,4.333333
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,175.0,4.0,5.333333
36,ET,475788.0,2020-02-05,1.0,5.0,6.0,2021-07-19,2.0,1.0,4.0,530.0,4.0,2.333333
80,ET,491041.0,2020-12-15,5.0,4.0,3.0,2021-04-20,7.0,7.0,7.0,158.0,4.0,7.000000
85,ET,486837.0,2020-11-04,4.0,3.0,5.0,2021-09-24,6.0,5.0,7.0,352.0,4.0,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8511,UC,484589.0,2020-07-29,1.0,7.0,4.0,2022-01-12,7.0,6.0,7.0,532.0,4.0,6.666667
8574,UC,500902.0,2021-05-21,2.0,5.0,5.0,2021-12-22,5.0,4.0,6.0,244.0,4.0,5.000000
8591,UC,453156.0,2019-02-11,4.0,4.0,4.0,2021-12-08,6.0,6.0,7.0,1031.0,4.0,6.333333
8596,UC,503737.0,2021-06-23,3.0,3.0,6.0,2021-12-06,3.0,3.0,6.0,166.0,4.0,4.000000
8610,UC,478079.0,2020-05-08,4.0,3.0,5.0,2021-04-09,6.0,3.0,7.0,353.0,4.0,5.333333

In [56]:
eco_exit['overall_exit_average'] = eco_exit[['exit_social', 'exit_knowledge', 'exit_approp_action']].mean(axis=1)

In [57]:
eco_exit

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program,overall_ent_average,overall_exit_average
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,183.0,4.000000,4.333333
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,514.0,7.000000,7.000000
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44483.0,NaN,NaN
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,1026.0,2.666667,4.333333
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44434.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8631,UC,514216.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-44537.0,NaN,NaN
8632,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8633,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8634,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8635,9/29/22 JM Corrected in TEIDS. Progress would ...,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
exit_avg_4 = eco_exit[eco_exit['overall_exit_average'] == 4.0]

In [63]:
exit_avg_4

,district,child_id,eco_entry_date,ent_social,ent_knowledge,ent_approp_action,eco_exit_date,exit_social,exit_knowledge,exit_approp_action,days_in_program,overall_ent_average,overall_exit_average
33,ET,484687.0,2020-07-13,2.0,5.0,6.0,2021-07-01,4.0,2.0,6.0,353.0,4.333333,4.0
121,ET,488076.0,2020-09-14,1.0,3.0,2.0,2021-09-01,3.0,3.0,6.0,352.0,2.000000,4.0
122,ET,497287.0,2021-03-12,3.0,5.0,2.0,2022-03-09,2.0,4.0,6.0,362.0,3.333333,4.0
137,ET,492298.0,2020-12-01,3.0,4.0,5.0,2021-11-22,3.0,4.0,5.0,356.0,4.000000,4.0
181,ET,480570.0,2021-01-14,2.0,2.0,4.0,2021-07-08,4.0,2.0,6.0,175.0,2.666667,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8456,UC,491203.0,2020-11-17,4.0,2.0,4.0,2021-05-12,6.0,2.0,4.0,176.0,3.333333,4.0
8458,UC,497623.0,2021-03-02,1.0,4.0,1.0,2022-02-09,2.0,4.0,6.0,344.0,2.000000,4.0
8526,UC,506214.0,2021-07-15,3.0,2.0,1.0,2022-01-20,3.0,5.0,4.0,189.0,2.000000,4.0
8529,UC,466692.0,2020-02-13,3.0,5.0,1.0,2022-02-10,5.0,3.0,4.0,728.0,3.000000,4.0
8596,UC,503737.0,2021-06-23,3.0,3.0,6.0,2021-12-06,3.0,3.0,6.0,166.0,4.000000,4.0

In [66]:
ent_days_total_4 = ent_avg_4['days_in_program'].mean()

In [67]:
ent_days_total_4

343.47727272727275

In [70]:
exit_days_total_4 = exit_avg_4['days_in_program'].mean()

In [71]:
exit_days_total_4

332.6392156862745