In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
didd_df = pd.read_excel("../data/project_data.xlsx", sheet_name=['ECO with Exit21-22'])

In [5]:
eco_exit = didd_df.get('ECO with Exit21-22')

In [6]:
eco_exit.head(5)

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [7]:
df_social_mean = eco_exit[['Ent SOCIAL_SCALE']].mean()

In [8]:
print(df_social_mean)

Ent SOCIAL_SCALE    3.283167
dtype: float64

In [9]:
df_know_mean = eco_exit[['Ent KNOWLEDGE_SCALE']].mean()

In [10]:
print(df_know_mean)

Ent KNOWLEDGE_SCALE    3.609684
dtype: float64

In [11]:
df_action_mean = eco_exit[['Ent APPROPRIATE_ACTION_SCALE']].mean()

In [12]:
print(df_action_mean)

Ent APPROPRIATE_ACTION_SCALE    4.022723
dtype: float64

In [13]:
df_ent_mean = eco_exit[['Ent SOCIAL_SCALE', 'Ent KNOWLEDGE SCALE', 'ENT APPROPRIATE_ACTION_SCALE']].MEAN()

KeyError: "['Ent KNOWLEDGE SCALE', 'ENT APPROPRIATE_ACTION_SCALE'] not in index"

In [ ]:
eco_exit = eco_exit.rename(columns={'DISTRICT':'district',
                                    'CHILD_ID':'child_id',
                                    'ECO_Entry_DATE':'eco_entry_date',
                                    'Ent SOCIAL_SCALE':'ent_social',
                                    'Ent KNOWLEDGE_SCALE':'ent_knowledge',
                                    'Ent APPROPRIATE_ACTION_SCALE':'ent_approp_action',
                                    'ECO_Exit_DATE':'eco_exit_date',
                                    'Exit SOCIAL_SCALE':'exit_social',
                                    'Exit KNOWLEDGE_SCALE':'exit_knowledge',
                                    'Exit APPROPRIATE_ACTION_SCALE':'exit_approp_action'})

In [14]:
eco_exit.head(20)

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,288.0,175.0,0.0
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,444.0,348.0,90.0
7,ET,494502.0,2021-03-01,6.0,4.0,5.0,2021-10-15,7.0,5.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,277.0,228.0,0.0
8,ET,488351.0,2020-09-15,5.0,5.0,7.0,2021-02-25,6.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,343.0,163.0,0.0
9,ET,489949.0,2020-10-20,2.0,1.0,2.0,2021-09-30,1.0,4.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,533.0,345.0,0.0
10,ET,507713.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,188.0,-44469.0,-44469.0
11,ET,473375.0,2020-01-08,3.0,5.0,3.0,2022-03-29,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,836.0,834.0,23.0
12,ET,493457.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,219.0,-44181.0,-44181.0
13,ET,473208.0,2021-01-31,3.0,4.0,6.0,2021-12-15,5.0,1.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,493.0,350.0,32.0
14,ET,511154.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,130.0,-44473.0,-44473.0
15,ET,473712.0,2020-05-20,1.0,5.0,1.0,2021-12-10,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,680.0,569.0,0.0
16,ET,491757.0,2021-09-23,6.0,3.0,6.0,2022-02-04,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,234.0,183.0,49.0
17,ET,500498.0,2021-04-16,2.0,1.0,2.0,2021-10-14,2.0,1.0,2.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,183.0,181.0,0.0
18,ET,500796.0,2021-04-21,7.0,5.0,7.0,2021-09-20,7.0,7.0,7.0,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,152.0,152.0,0.0
19,ET,480351.0,2020-04-30,2.0,3.0,5.0,2021-04-15,5.0,2.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,455.0,350.0,0.0