In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
project_data = pd.read_excel('../data/TEIS-NSS Project Data 10-2022.xlsx', 
                             sheet_name=['ECO with Exit21-22', 'Elig Timeline Rpt 2018-2022'])

In [3]:
eco_exit = project_data.get('ECO with Exit21-22')
elig_timeline = project_data.get('Elig Timeline Rpt 2018-2022')
print(eco_exit)
print(elig_timeline)

                                               DISTRICT  CHILD_ID  \
0                                                    ET  500335.0
1                                                    ET  479453.0
2                                                    ET  510663.0
3                                                    ET  452482.0
4                                                    ET  506507.0
...                                                 ...       ...
8631                                                 UC  514216.0
8632                                                NaN       NaN
8633                                                NaN       NaN
8634                                                NaN       NaN
8635  9/29/22 JM Corrected in TEIDS. Progress would ...       NaN

     ECO_Entry_DATE  Ent SOCIAL_SCALE Ent KNOWLEDGE_SCALE  \
0        2021-04-23               5.0                   3
1        2020-03-23               7.0                   7
2               NaT               NaN                 NaN
3        2019-01-31               2.0                   3
4               NaT               NaN                 NaN
...             ...               ...                 ...
8631            NaT               NaN                 NaN
8632            NaT               NaN                 NaN
8633            NaT               NaN                 NaN
8634            NaT               NaN                 NaN
8635            NaT               NaN                 NaN

      Ent APPROPRIATE_ACTION_SCALE ECO_Exit_DATE  Exit SOCIAL_SCALE  \
0                              4.0    2021-10-23                6.0
1                              7.0    2021-08-19                7.0
2                              NaN           NaT                NaN
3                              3.0    2021-11-22                5.0
4                              NaN           NaT                NaN
...                            ...           ...                ...
8631                           NaN           NaT                NaN
8632                           NaN           NaT                NaN
8633                           NaN           NaT                NaN
8634                           NaN           NaT                NaN
8635                           NaN           NaT                NaN

      Exit KNOWLEDGE_SCALE  Exit APPROPRIATE_ACTION_SCALE  ... OC2 Data Check  \
0                      3.0                            4.0  ...            1.0
1                      7.0                            7.0  ...            1.0
2                      NaN                            NaN  ...            0.0
3                      3.0                            5.0  ...            1.0
4                      NaN                            NaN  ...            0.0
...                    ...                            ...  ...            ...
8631                   NaN                            NaN  ...            0.0
8632                   NaN                            NaN  ...            NaN
8633                   NaN                            NaN  ...            NaN
8634                   NaN                            NaN  ...            NaN
8635                   NaN                            NaN  ...            NaN

     OC3 - a OC3 - b OC3 - c OC3 - d OC3 - e OC3 Data Check  \
0        NaN     1.0     NaN     NaN     NaN            1.0
1        NaN     NaN     NaN     NaN     1.0            1.0
2        NaN     NaN     NaN     NaN     NaN            0.0
3        NaN     NaN     1.0     NaN     NaN            1.0
4        NaN     NaN     NaN     NaN     NaN            0.0
...      ...     ...     ...     ...     ...            ...
8631     NaN     NaN     NaN     NaN     NaN            0.0
8632     NaN     NaN     NaN     NaN     NaN            NaN
8633     NaN     NaN     NaN     NaN     NaN            NaN
8634     NaN     NaN     NaN     NaN     NaN            NaN
8635     NaN     NaN     NaN     NaN     NaN            NaN

      Days btw Initial and Exit  Days btw I-IFSP to Exit ECO  \
0                         206.0                        183.0
1                         704.0                        514.0
2                         115.0                     -44483.0
3                        1053.0                       1026.0
4                         159.0                     -44434.0
...                         ...                          ...
8631                       65.0                     -44537.0
8632                        NaN                          NaN
8633                        NaN                          NaN
8634                        NaN                          NaN
8635                        NaN                          NaN

      Days btw I-IFSP to entry ECO
0                              0.0
1                              0.0
2                         -44483.0
3                              0.0
4                         -44434.0
...                            ...
8631                      -44537.0
8632                           NaN
8633                           NaN
8634                           NaN
8635                           NaN

[8636 rows x 60 columns]
      District  Child ID Child Status  Child Phase Init. IFSP Due Date  \
0           ET    453926     Inactive         IFSP          2019-03-04
1           ET    431729     Inactive         IFSP          2018-10-26
2           ET    462474     Inactive         IFSP          2019-06-28
3           ET    446841     Inactive  Eligibility          2018-11-23
4           ET    459629     Inactive         IFSP          2019-05-16
...        ...       ...          ...          ...                 ...
67605       UC    509553     Inactive         IFSP          2021-10-03
67606       UC    509684     Inactive         IFSP          2021-10-07
67607       UC    526338     Inactive         IFSP          2022-05-22
67608       UC    511641     Inactive  Eligibility          2021-11-22
67609       UC    519977     Inactive         IFSP          2022-03-07

      IFSP Due Date IFSP Late Reason Active Ref. Date  \
0        2019-03-27           System       2019-01-18
1        2018-10-26              NaN       2018-09-11
2        2019-06-14              NaN       2019-05-14
3               NaT              NaN       2018-10-09
4        2019-04-24              NaN       2019-04-01
...             ...              ...              ...
67605    2021-10-22           System       2021-08-19
67606    2021-09-07              NaN       2021-08-23
67607    2022-05-05              NaN       2022-04-07
67608           NaT              NaN       2021-10-08
67609    2022-02-03              NaN       2022-01-21

      Parent Consent/Intake Date Date Dev. Evaluator Rec'd. Ref.  ...  \
0                     2019-02-04             2019-01-22 00:00:00  ...
1                     2018-09-25             2018-09-12 00:00:00  ...
2                     2019-05-30             2019-05-15 00:00:00  ...
3                     2018-10-25             2018-10-11 00:00:00  ...
4                     2019-04-10             2019-04-02 00:00:00  ...
...                          ...                             ...  ...
67605                 2021-08-26             2021-08-23 00:00:00  ...
67606                 2021-08-31             2021-08-24 00:00:00  ...
67607                 2022-04-10             2022-04-08 00:00:00  ...
67608                 2021-10-18             2021-10-11 00:00:00  ...
67609                 2022-01-26             2022-01-24 00:00:00  ...

      # Days Parent Consent to Dev. Eval.  \
0                                    17.0
1                                     0.0
2                                     0.0
3                                     0.0
4                                     0.0
...                                   ...
67605                                 0.0
67606                                 0.0
67607                                 1.0
67608                                 0.0
67609                                 0.0

      # Days Dev. Evaluator Assigned to Dev. Eval.  \
0                                             30.0
1                                             13.0
2                                             15.0
3                                             14.0
4                                              8.0
...                                            ...
67605                                          3.0
67606                                          7.0
67607                                          3.0
67608                                          7.0
67609                                          2.0

      1st Date Requested to Receipt of Med. Records  \
0                                               NaN
1                                               NaN
2                                               0.0
3                                               NaN
4                                               0.0
...                                             ...
67605                                          35.0
67606                                           0.0
67607                                           0.0
67608                                           NaN
67609                                           0.0

      # Days Dev. Eval. to Elig. Det. # Days Ref. to Elig. Det.  \
0                                 4.0                      38.0
1                                 6.0                      20.0
2                                 1.0                      17.0
3                                 1.0                      17.0
4                                 2.0                      11.0
...                               ...                       ...
67605                            47.0                      54.0
67606                             2.0                      10.0
67607                             2.0                       6.0
67608                            11.0                      21.0
67609                             5.0                      10.0

      Init. Elig. Decision                           Init. Elig. Category  \
0                 Eligible                       Developmental Evaluation
1                 Eligible  Diagnosed Condition, Developmental Evaluation
2                 Eligible                       Developmental Evaluation
3                 Eligible                            Diagnosed Condition
4                 Eligible                       Developmental Evaluation
...                    ...                                            ...
67605             Eligible  Diagnosed Condition, Developmental Evaluation
67606             Eligible                       Developmental Evaluation
67607             Eligible                       Developmental Evaluation
67608             Eligible                            Diagnosed Condition
67609             Eligible                       Developmental Evaluation

      Init. Elig. Det. Date  Exit Date  \
0                2019-02-25 2020-01-11
1                2018-10-01 2020-12-11
2                2019-05-31 2020-11-12
3                2018-10-26 2020-08-12
4                2019-04-12 2019-09-26
...                     ...        ...
67605            2021-10-12 2021-12-10
67606            2021-09-02 2022-03-07
67607            2022-04-13 2022-07-25
67608            2021-10-29 2022-06-22
67609            2022-01-31 2022-06-20

                                   Exit Reason
0                        618 - Part B eligible
1      618 - Part B eligibility not determined
2      618 - Part B eligibility not determined
3                               Parent decline
4                        618 - Parent withdraw
...                                        ...
67605                 618 - Moved out of state
67606                    618 - Parent withdraw
67607                    618 - Parent withdraw
67608                           Parent decline
67609                    618 - Part B eligible

[67610 rows x 38 columns]

In [4]:
for col in eco_exit.columns:
    print(col)

DISTRICT
CHILD_ID
ECO_Entry_DATE
Ent SOCIAL_SCALE
Ent KNOWLEDGE_SCALE
Ent APPROPRIATE_ACTION_SCALE
ECO_Exit_DATE
Exit SOCIAL_SCALE
Exit KNOWLEDGE_SCALE
Exit APPROPRIATE_ACTION_SCALE
ExitIS_SOCIAL_PROGRESS
ExitIS_KNOWLEDGE_PROGRESS
ExitIS_APPROPRIATE_ACTION_PROGRESS
Initial IFSP Date
Exit Reason
Exit Date
<Lookup> Expected Rating
<Calc> Months in Program
<Calc> Entrance Age (months)
<Calc> Day count
<Calc> Month count
<Calc> Missing Entrance Date
<Calc> Missing Exit Dates
<Calc> Missing Both Ent & Exit Dates
<Calc> Record Count
<Calc> Day count 182 days +
<Calc> Exit Day cnt < 182 days
OC1 Missing Exit Rating
OC2 Missing Exit Rating
OC3 Missing Exit Rating
OC1 Not Expected
OC2 Not Expected
OC3 Not Expected
<Calc> Day count less than 182
OC1 Useable Data
OC2 Useable Data
OC3 Useable Data
Usable Data on at least one Outcome
Usable Data on All 3 Outcomes
OC1 - a
OC1 - b
OC1 - c
OC1 - d
OC1 - e
OC1 Data Check
OC2 - a
OC2 - b
OC2 - c
OC2 - d
OC2 - e
OC2 Data Check
OC3 - a
OC3 - b
OC3 - c
OC3 - d
OC3 - e
OC3 Data Check
Days btw Initial and Exit
Days btw I-IFSP to Exit ECO
Days btw I-IFSP to entry ECO

In [16]:
eco_exitent = eco_exit[['DISTRICT', 'CHILD_ID', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE','Exit APPROPRIATE_ACTION_SCALE', 'ECO_Entry_DATE', 'Initial IFSP Date', 'Exit Date', '<Calc> Day count', '<Calc> Months in Program', '<Calc> Day count 182 days +', '<Calc> Exit Day cnt < 182 days']]

In [17]:
eco_exitent.head(5)

,DISTRICT,CHILD_ID,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,ECO_Entry_DATE,Initial IFSP Date,Exit Date,<Calc> Day count,<Calc> Months in Program,<Calc> Day count 182 days +,<Calc> Exit Day cnt < 182 days
0,ET,500335.0,5.0,3,4.0,6.0,3.0,4.0,2021-04-23,2021-04-23,2021-11-15,183.0,7.0,1.0,NaN
1,ET,479453.0,7.0,7,7.0,7.0,7.0,7.0,2020-03-23,2020-03-23,2022-02-25,514.0,23.0,1.0,NaN
2,ET,510663.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-10-14,2022-02-06,NaN,4.0,1.0,1.0
3,ET,452482.0,2.0,3,3.0,5.0,3.0,5.0,2019-01-31,2019-01-31,2021-12-19,1026.0,35.0,1.0,NaN
4,ET,506507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-08-26,2022-02-01,NaN,6.0,1.0,1.0

In [23]:
ss = eco_exitent[eco_exitent["Ent SOCIAL_SCALE"].isin([5])]
ks = eco_exitent[eco_exitent["Ent KNOWLEDGE_SCALE"].isin([5])]
aa = eco_exitent[eco_exitent["Ent APPROPRIATE_ACTION_SCALE"].isin([5])]

In [24]:
ss.head(10)

,DISTRICT,CHILD_ID,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,ECO_Entry_DATE,Initial IFSP Date,Exit Date,<Calc> Day count,<Calc> Months in Program,<Calc> Day count 182 days +,<Calc> Exit Day cnt < 182 days
0,ET,500335.0,5.0,3,4.0,6.0,3.0,4.0,2021-04-23,2021-04-23,2021-11-15,183.0,7.0,1.0,NaN
8,ET,488351.0,5.0,5,7.0,6.0,5.0,7.0,2020-09-15,2020-09-15,2021-08-24,163.0,11.0,NaN,NaN
21,ET,494701.0,5.0,3,6.0,7.0,3.0,6.0,2021-04-06,2021-01-28,2021-09-04,79.0,8.0,NaN,NaN
22,ET,493241.0,5.0,2,6.0,5.0,2.0,4.0,2021-05-11,2021-05-11,2022-05-02,167.0,12.0,NaN,NaN
26,ET,488582.0,5.0,4,7.0,7.0,7.0,7.0,2020-12-03,2020-12-03,2022-05-08,350.0,17.0,1.0,NaN
31,ET,506371.0,5.0,5,7.0,7.0,5.0,7.0,2021-08-06,2021-08-06,2022-06-26,173.0,10.0,NaN,NaN
48,ET,479882.0,5.0,5,6.0,7.0,5.0,7.0,2020-05-01,2020-05-01,2021-11-27,364.0,18.0,1.0,NaN
53,ET,474423.0,5.0,6,2.0,7.0,5.0,7.0,2020-01-29,2020-01-15,2022-05-16,700.0,28.0,1.0,NaN
60,ET,497647.0,5.0,4,7.0,7.0,7.0,7.0,2021-03-03,2021-03-03,2022-03-02,344.0,12.0,1.0,NaN
63,ET,475992.0,5.0,5,7.0,5.0,6.0,7.0,2020-09-15,2020-09-15,2021-12-18,358.0,15.0,1.0,NaN

In [28]:
ss=  ss[['DISTRICT', 'CHILD_ID', 'Ent SOCIAL_SCALE','Exit SOCIAL_SCALE', 'ECO_Entry_DATE', 'Initial IFSP Date', 'Exit Date', '<Calc> Day count', '<Calc> Months in Program', '<Calc> Day count 182 days +', '<Calc> Exit Day cnt < 182 days']]
ks=  ks[['DISTRICT', 'CHILD_ID', 'Ent KNOWLEDGE_SCALE','Exit KNOWLEDGE_SCALE', 'ECO_Entry_DATE', 'Initial IFSP Date', 'Exit Date', '<Calc> Day count', '<Calc> Months in Program', '<Calc> Day count 182 days +', '<Calc> Exit Day cnt < 182 days']]
aa=  aa[['DISTRICT', 'CHILD_ID', 'Ent APPROPRIATE_ACTION_SCALE','Exit APPROPRIATE_ACTION_SCALE', 'ECO_Entry_DATE', 'Initial IFSP Date', 'Exit Date', '<Calc> Day count', '<Calc> Months in Program', '<Calc> Day count 182 days +', '<Calc> Exit Day cnt < 182 days']]

In [33]:
ss['<Calc> Months in Program'].value_counts(dropna = False)

10.0    69
11.0    67
12.0    48
9.0     47
16.0    44
8.0     44
7.0     39
17.0    37
14.0    35
15.0    35
13.0    26
19.0    18
18.0    16
20.0    15
6.0     15
32.0    10
23.0    10
22.0     9
5.0      8
25.0     8
26.0     8
21.0     7
29.0     6
28.0     5
24.0     5
30.0     5
34.0     3
27.0     3
33.0     2
35.0     2
4.0      1
31.0     1
Name: <Calc> Months in Program, dtype: int64

In [45]:
nochangess = ss[(ss['Ent SOCIAL_SCALE']== 5) & (ss['Exit SOCIAL_SCALE']== 5)]
nochangesks = ks[(ks['Ent KNOWLEDGE_SCALE']== 5) & (ks['Exit KNOWLEDGE_SCALE']== 5)]
nochangesaa = aa[(aa['Ent APPROPRIATE_ACTION_SCALE']== 5) & (aa['Exit APPROPRIATE_ACTION_SCALE']== 5)]

increasess = ss[(ss['Ent SOCIAL_SCALE']== 5) & (ss['Exit SOCIAL_SCALE']> 5)]
increaseks = ks[(ks['Ent KNOWLEDGE_SCALE']== 5) & (ks['Exit KNOWLEDGE_SCALE']> 5)]
increaseaa = aa[(aa['Ent APPROPRIATE_ACTION_SCALE']== 5) & (aa['Exit APPROPRIATE_ACTION_SCALE']> 5)]

In [46]:
print(increaseaa)

     DISTRICT  CHILD_ID  Ent APPROPRIATE_ACTION_SCALE  \
7          ET  494502.0                           5.0
19         ET  480351.0                           5.0
65         ET  486214.0                           5.0
85         ET  486837.0                           5.0
139        ET  456573.0                           5.0
...       ...       ...                           ...
8574       UC  500902.0                           5.0
8580       UC  483054.0                           5.0
8610       UC  478079.0                           5.0
8616       UC  508649.0                           5.0
8627       UC  485978.0                           5.0

      Exit APPROPRIATE_ACTION_SCALE ECO_Entry_DATE Initial IFSP Date  \
7                               6.0     2021-03-01        2021-03-01
19                              6.0     2020-04-30        2020-04-30
65                              7.0     2020-08-14        2020-08-14
85                              7.0     2020-11-04        2020-10-07
139                             6.0     2021-03-01        2021-03-01
...                             ...            ...               ...
8574                            6.0     2021-05-21        2021-04-22
8580                            6.0     2020-06-09        2020-06-09
8610                            7.0     2020-05-08        2020-04-21
8616                            7.0     2021-09-09        2021-09-09
8627                            7.0     2020-08-19        2020-08-19

      Exit Date  <Calc> Day count  <Calc> Months in Program  \
7    2021-12-03             228.0                       9.0
19   2021-07-29             350.0                      15.0
65   2021-07-03             199.0                      11.0
85   2021-12-02             324.0                      14.0
139  2022-01-31             184.0                      10.0
...         ...               ...                       ...
8574 2022-03-31             215.0                      11.0
8580 2021-11-18             360.0                      17.0
8610 2021-07-21             336.0                      15.0
8616 2022-06-14             200.0                       9.0
8627 2021-08-15             176.0                      12.0

      <Calc> Day count 182 days +  <Calc> Exit Day cnt < 182 days
7                             1.0                             NaN
19                            1.0                             NaN
65                            1.0                             NaN
85                            1.0                             NaN
139                           1.0                             NaN
...                           ...                             ...
8574                          1.0                             NaN
8580                          1.0                             NaN
8610                          1.0                             NaN
8616                          1.0                             NaN
8627                          NaN                             NaN

[383 rows x 11 columns]